:root {
    /* Light mode colors */
    --gradient-start: #c5e8f7;
    --gradient-end: #e9d5f0;
    --background-color: linear-gradient(90deg, var(--gradient-start), var(--gradient-end));
    --header-bg: rgba(255, 255, 255, 0.2);
    --content-bg: white;
    --hover-bg: rgb(241 245 249 / 1);
    --text-color: black;
    --separator-color: rgb(226, 232, 240);
    --border-color: rgb(212, 217, 222);
    --card-header-bg: rgb(240, 245, 249);
    --accent-color: rgb(79 70 229 / 1);
    --back-top-bg: rgba(255, 255, 255, 0.8);
    --back-top-hover: white;
    --card-overlay-gradient: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
    --card-text-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --unavailable-label-bg: rgb(200, 0, 0);
    --unavailable-label-color: #fff;
    --unavailable-text-color: #666;
    --initials-bg: cadetblue;
    --font-family-inter: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 
@media (prefers-color-scheme: dark) {
    :root {
        --gradient-start: #1a1a2e;
        --gradient-end: #16213e;
        --background-color: linear-gradient(90deg, var(--gradient-start), var(--gradient-end));
        --header-bg: rgba(0, 0, 0, 0.2);
        --content-bg: #121212;
        --hover-bg: rgb(30 41 59 / 1);
        --text-color: #e2e8f0;
        --separator-color: rgb(51, 65, 85);
        --border-color: rgb(51, 65, 85);
        --card-header-bg: rgb(30, 41, 59);
        --accent-color: rgb(129 140 248 / 1);
        --back-top-bg: rgba(30, 41, 59, 0.8);
        --back-top-hover: #1e293b;
        --card-overlay-gradient: linear-gradient(180deg, rgba(21, 22, 24, 0.5) 0%, #000000 100%);
        --card-text-color: #fff;
        --shadow-color: rgba(0, 0, 0, 0.4);
        --unavailable-label-bg: rgb(220, 38, 38);
        --unavailable-label-color: #fff;
        --unavailable-text-color: #9ca3af;
        --initials-bg: #4b5563;
    }
} */

/* WebKit/Blink (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 0px; /* Larghezza molto sottile */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
}

html {
    scroll-behavior: smooth;
  }

body {
    background: var(--background-color);
    min-height: 100vh;
    color: var(--text-color);
}

header {
    width: 100%;
    height: 40vh; /* Usa vh (viewport height) invece di % */
    background-color: var(--header-bg);
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 20px;
    border-radius: 0 0 20% 20%;
}

nav{
    width:95%;
    display: flex;
    flex-direction: column;
    align-items: top;
    gap: 3px;
}

nav .nav-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .nav-info .site-info{
    display:flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 550px) {
    nav .nav-info .site-info h3{
        display:none;
    }
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

nav .account{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 0.5rem;
}

nav .account .darkmode{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0.4rem;
    border-radius: .375rem;
    transition-property: background-color;
}

nav .account .darkmode:hover{
    background-color: var(--hover-bg);
    cursor: pointer;
}

nav .account-name{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:0.5rem;
    padding:0.4rem;
    padding-left:1rem;
    padding-right:0.8rem;
    position: relative; /* necessario per il menu a discesa */
    transition-property: background-color;
}

nav .account-name:hover{
    background-color: var(--hover-bg);
    border-radius: .375rem;
    cursor: pointer;
}

nav .initials{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: var(--initials-bg);
    border-radius: 50%;
}

.account-name ul{
    position: absolute;
    top: 100%;
	right:0;
    background-color: var(--content-bg);
    border-radius: .5rem;
    padding: .5rem;
    display: none;
    box-shadow: 0 2px 6px var(--shadow-color);
    list-style: none;
    margin: 0;
    margin-top:0.5rem;
    z-index:2;
}

.account-name:hover ul{
    display: block;
    z-index:2;
}

.account-name ul a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    min-width: 16rem;
    border-radius: .5rem;
    text-decoration: none;
    color: var(--text-color);
}

.account-name ul li a div{
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size:14px;
}

.account-name ul a > div{
    display: flex;
    align-items:center;
    gap: 0.5rem;
}

.account-name ul a:hover {
    background-color: var(--hover-bg);
    padding: 0.8rem 1.5rem;
    color: var(--accent-color);
}

.account-name ul a:hover svg {
    fill: var(--accent-color);
}

.account-name ul a::after {
    content: url(/owlbreak/website/images/icon-arrow-right.svg);
    height: 17px;
    opacity: 0;
}

.account-name ul a:hover::after {
    opacity: 1;
}

.account-name:hover::after {
    opacity: 1;
}

.account-name::after{
    transition-property: opacity;
}

.account-name ul{
    display: block; 
    opacity: 0;
    visibility: hidden;
    transform: translateX(-1rem);
    transition-property: opacity, visibility, transform;
}

.account-name:hover ul{
    opacity:1;
    visibility: visible;
    transform: translateX(0);
}

.account-name ul a {
    transition-property: background-color, padding;
}

.account-name ul a::after{
    transition-property:opacity;
}

.darkmode,
.account-name, 
.account-name::after,
.account-name ul,
.account-name ul a,
.account-name ul a::after{
    /* Uso questo per non ripetere i comandi di transizione su tutti gli elementi a cui voglio applicarla */
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

#page-content{
    opacity:0;
    transform: translate3d(0, -3rem, 0);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}

#page-content.visible {
    opacity:10;
	transform: translate3d(0, 0, 0);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--back-top-bg);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px var(--shadow-color);
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
  
#back-to-top:hover {
    transform: translateY(-5px);
    background-color: var(--back-top-hover);
}
  
#back-to-top svg {
    width: 30px;
    height: 30px;
}

.content-box {
    margin: -150px auto 50px; /* position:absolute mi dava problemi, quindi assegno un margine negativo per il top */

    width: 90%; /*Larghezza massima del contenitore quando rimpicciolisco la pagina*/           
    max-width: 1200px; /* Larghezza massima del contenitore utile su schermi grandi*/

    height: auto;              /* lascia che cresca in altezza */
    min-height: auto;          /* garantisce una base visibile */

    display: flex;
    flex-direction: column;
    gap:1rem;
    z-index: 10;
    box-sizing: border-box;
}

.welcome-box {
    flex-basis: 100%;/* dimensione a cui fare riferimento*/
    flex-grow: 0;    /* non cresce mai oltre la dimensione del contenuto */
    flex-shrink: 0;  /* non si riduce mai sotto la sua dimensione */

    text-align: left;
    overflow: hidden;
    padding: 2px;
}

.welcome-box p {
    font-size: clamp(1.5rem, 2.5vw, 1.9rem);
    margin: 0;
    line-height: 1.2;
    word-wrap: break-word;
}

.profile-box {
    flex-basis: 100%; /* dimensione a cui fare riferimento*/
    flex-grow: 1; /* può crescere per riempire lo spazio disponibile */
    flex-shrink: 1; /* può ridursi se serve */

    display: flex;
    flex-wrap: wrap;
    background-color: var(--content-bg);
    border-radius: 8px;
    box-shadow: 0 3px 10px var(--shadow-color);
    overflow-y: auto;          /* in caso di overflow interno */
}

.menu-box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    max-width: 100%;
    padding:1rem;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

.menu-category svg{
    transition-property: fill;
}

.menu-category:hover{
    background-color: var(--hover-bg);
    border-radius: .375rem;
    color: var(--accent-color);
}
.menu-category:hover svg{
    fill: var(--accent-color);
}

.menu-category.active {
    background-color: var(--hover-bg);
    border-radius: .375rem;
    color: var(--accent-color);
}

.menu-category.active svg {
    fill: var(--accent-color);
}

.menu-category,
.menu-category svg{
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.menu-category{
    font-family: var(--font-family-inter);
    font-weight:600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition-property: background-color, color;
}

.separator2 {
    width: 2px;
    background-color: var(--separator-color);
    margin-top:0.6rem;
    margin-bottom:0.6rem;
    border-radius:.375rem;

}

/* Default: linea verticale (tra i due blocchi orizzontali) */
@media (min-width: 320px) {
    .separator2 {
        width: 2px;
        height: auto;
    }
}

/* Su schermi piccoli: linea orizzontale (tra i due blocchi verticali) */
@media (max-width: 1258px) {
    .separator2 {
        width: 100%;
        height: 2px;
        margin-left:0.6rem;
        margin-right:0.6rem;
        margin-top:0;
        margin-bottom:0;
    }
}

.container{
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    gap:2rem;
}

.container{
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    gap:2rem;
}

.personal-information-box{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;

    opacity:0;
    visibility:hidden;
    position: absolute;
    transform: translate3d(-3rem, 0, 0);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}

.personal-information-box.show{
    opacity: 1;  
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
    visibility: visible;
    position: relative;  
}

.information{
    max-width:100%;
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: rgba(79, 70, 229, 0.09);
    border-radius: 8px;
}

.information span{
    font-family: var(--font-family-inter);
    font-weight: 500;
}

.information > span{
    padding-left:2rem;
    font-weight: 400;
    word-break: break-all
}

.information-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
}

.security-box{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;

    opacity:0;
    visibility:hidden;
    position: absolute;
    transform: translate3d(-3rem, 0, 0);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}

.security-box.show{
    opacity: 1;  
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
    visibility: visible;
    position: relative;  
}

.statistics-box{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;

    opacity:0;
    visibility:hidden;
    position: absolute;
    transform: translate3d(-3rem, 0, 0);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}

.statistics-box.show{
    opacity: 1;  
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
    visibility: visible;
    position: relative;  
}