:root {
    --primary-color: #8d2a2a;
    --secondary-color: #2a578d;
    --gradient-start: #c5e8f7;
    --gradient-end: #e9d5f0;
    --text-dark: #777070;
    --text-light: #666;
    --white: #fff;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
}

html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    min-height: 100vh;
}

header {
    width: 100%;
    height: 40vh; /* Usa vh (viewport height) invece di % */
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 20px;
    border-radius: 0 0 20% 20%;
}

nav{
    width:95%;
    display: flex;
    flex-direction: column;
    align-items: top;
    gap: 3px;
}

nav .nav-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav div .site-name{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}



nav .account{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 0.5rem;
}

nav .account .darkmode{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0.4rem;
    border-radius: .375rem;
    transition-property: background-color;
}

nav .account .darkmode:hover{
    background-color: rgb(241 245 249 / 1);
    cursor: pointer;
}

nav .account-name{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:0.5rem;
    padding:0.4rem;
    padding-left:1rem;
    padding-right:0.8rem;
    position: relative; /* necessario per il menu a discesa */
    transition-property: background-color;
}

nav .account-name:hover{
    background-color: rgb(241 245 249 / 1);
    border-radius: .375rem;
    cursor: pointer;
}

nav .initials{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color:cadetblue;
    border-radius: 50%;
}

.account-name ul{
    position: absolute;
    top: 100%;
	right:0;
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    display: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    margin-top:0.5rem;
}

.account-name:hover ul{
    display: block;
    z-index:2;
}

.account-name ul a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    min-width: 16rem;
    border-radius: .5rem;
    text-decoration: none;
    color: black;
}

.account-name ul li a div{
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size:14px;
}

.account-name ul a > div{
    display: flex;
    align-items:center;
    gap: 0.5rem;
}

.account-name ul a:hover {
    background-color: rgb(241 245 249 / 1);
    padding: 0.8rem 1.5rem;
    color: rgb(79 70 229 / 1);
}

.account-name ul a:hover svg {
    fill: rgb(79 70 229 / 1);
}

.account-name ul a::after {
    content: url(../images/icon-arrow-right.svg);
    height: 17px;
    opacity: 0;
}

.account-name ul a:hover::after {
    opacity: 1;
}

.account-name:hover::after {
    opacity: 1;
}

.account-name::after{
    transition-property: opacity;
}

.account-name ul{
    display: block; 
    opacity: 0;
    visibility: hidden;
    transform: translateX(-1rem);
    transition-property: opacity, visibility, transform;
}

.account-name:hover ul{
    opacity:1;
    visibility: visible;
    transform: translateX(0);
}

.account-name ul a {
    transition-property: background-color, padding;
}

.account-name ul a::after{
    transition-property:opacity;
}

.darkmode,
.account-name, 
.account-name::after,
.account-name ul,
.account-name ul a,
.account-name ul a::after{
    /* Uso questo per non ripetere i comandi di transizione su tutti gli elementi a cui voglio applicarla */
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
  
#back-to-top:hover {
    transform: translateY(-5px);
    background-color: white;
}
  
#back-to-top svg {
width: 30px;
height: 30px;
}

.content-box {
    margin: -150px auto 50px; /* position:absolute mi dava problemi, quindi assegno un margine negativo per il top */

    width: 90%; /*Larghezza massima del contenitore quando rimpicciolisco la pagina*/           
    max-width: 1200px; /* Larghezza massima del contenitore utile su schermi grandi*/

    height: auto;              /* lascia che cresca in altezza */
    min-height: 450px;          /* garantisce una base visibile */

    display: flex;
    flex-direction: column;
    gap:1rem;
    z-index: 10;
    box-sizing: border-box;
}

.welcome-box {
    flex-basis: 100%;/* dimensione a cui fare riferimento*/
    flex-grow: 0;    /* non cresce mai oltre la dimensione del contenuto */
    flex-shrink: 0;  /* non si riduce mai sotto la sua dimensione */

    text-align: left;
    overflow: hidden;
    padding: 2px;
}

.welcome-box p {
    font-size: clamp(1.5rem, 2.5vw, 1.9rem);
    margin: 0;
    line-height: 1.2;
    word-wrap: break-word;
}

.order-box {
    flex-basis: 100%; /* dimensione a cui fare riferimento*/
    flex-grow: 1; /* può crescere per riempire lo spazio disponibile */
    flex-shrink: 1; /* può ridursi se serve */

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;          /* in caso di overflow interno */
}

.menu-box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    max-width: 100%;
    padding:1rem;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

.separator1{
    width: auto;
    height: 2px;
    background-color: rgb(226, 232, 240);
    margin-top:0.6rem;
    margin-bottom:0.6rem;
    border-radius:.375rem;
}

.separator2 {
    width: 2px;
    background-color: rgb(226, 232, 240);
    margin-top:0.6rem;
    margin-bottom:0.6rem;
    border-radius:.375rem;

}

/* Default: linea verticale (tra i due blocchi orizzontali) */
@media (min-width: 320px) {
    .separator2 {
        width: 2px;
        height: auto;
    }
}

/* Su schermi piccoli: linea orizzontale (tra i due blocchi verticali) */
@media (max-width: 1258px) {
    .separator2 {
        width: 100%;
        height: 2px;
        margin-left:0.6rem;
        margin-right:0.6rem;
        margin-top:0;
        margin-bottom:0;
    }
}

.product-box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 800px;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.menu-category{
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight:600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.menu-category:hover{
    background-color:rgb(241 245 249 / 1);
    /* color: rgb(79 70 229 / 1); */
    border-radius: .375rem;
}

.menu-category.active {
    background-color: rgb(241 245 249 / 1);
    border-radius: .375rem;
    color: rgb(79 70 229 / 1);
}

.menu-category.active svg {
    fill: rgb(79 70 229 / 1);
}

.product {
    flex-basis: 320px;
    height: 320px;
    border-radius: .375rem;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Impedisce che l'immagine fuoriesca dal bordo arrotondato */
}

.product .product-name {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color:rgb(240, 245, 249);
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
}

/*css for the text in the cards product*/
main p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 120%; /* 2.625rem */
    margin:0;
}

.price {
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 120%; /* 1.875rem */
    font-size: 1.5625rem;
}

figure,
figure p.small {
    color: #fff;
}


figure h3 + p {
    font-size: 0.8125rem;
}

figure footer p.small {
    font-weight: 400;
    margin-bottom: 0;
}

/*css for the cards product*/
figure img {
    width: 100%;
    height: 100%; /* 100% dell'altezza del figure */
    display: block;
    object-fit: cover;
}

figure {
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove eventuali padding */
    height: 88%; /* Imposta un'altezza esplicita */
    width: 100%;
    position: relative;
}

figcaption {
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3rem;
}

figcaption main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

figure p {
    margin: 0;
}

figure footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure footer svg {
    width: 50px;
    height:50px;
}

figure main,
figure footer {
	opacity: 0;
}

figure:hover main,
figure:hover footer {
    opacity: 1;
}

figcaption{
    z-index:1;
}


/*css for transitions cards product*/
figcaption::before{
    content:'';
    position:absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
    z-index:-1;
    opacity:0;
    transition-property: opacity;
}

figure:hover figcaption::before{
    opacity:1;
}

figure img{
    transform: scale(1.2);
    transition-property: transform;
}

figure{
    overflow: hidden;
}

figure:hover img{
    transform: scale(1);
}

figure main{
    transform: translate3d(0,  -6rem, 0 );
    transition-property: opacity, transform;
}

figure footer{
    transform: translate3d(0,  6rem, 0 );
    transition-property: opacity, transform;
}

figure:hover main, 
figure:hover footer{
    transform: translate3d(0, 0, 0);
}

figure footer svg{
    transform: translate3d(-3rem, 0, 0) rotate(360deg);
    transition-delay: .3s;
    opacity:0;
}

figure:hover footer svg{
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity:1;
}

figcaption::before,
figure img, 
figure main,
figure footer,
figure footer svg{
    transition-duration: .3s;
    transition-timing-function: ease-in-out; 
}